h2,
h5 {
    color: black;
}

.btn-success {
    background-color: #33C292 !important;
}

.btn-dark {
    background-color: #3F3D56 !important;
}

.delete {
    cursor: pointer;
}

.firstp {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.8rem;
}

.seccondp {
    font-weight: lighter;
    margin: 0 auto;
    font-size: 0.8rem;
}

.fourth {
    border-color: #33C292;
    color: #fff;
    background-image: linear-gradient(45deg, #33C292 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #3F3D56;
    border-radius: 0.6em;
    color: #3F3D56;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

.fourth:hover {
    background-position: 0;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
    margin: 0 auto;
}

.myCol {
    margin: 1rem 1rem 1rem 1rem;
    padding: 30px;
    border: 1px solid black;
}

@media screen and (max-width: 1200px) {
    .fourth {
        padding: 0.9rem;
        margin: 0.8rem auto;
    }
    .myCol {
        margin: 0.4rem 0.4rem 0.4rem 0.4rem;
    }
}

@media screen and (max-width: 900px) {
    .fourth {
        padding: 1rem;
        margin: 1rem auto;
    }
    .myInput {
        width: auto;
    }
}