.results-list-item:hover {
  cursor: pointer;
}

.results-list-item__image {
  width: 312px;
  height: 231px;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.results-list-item__title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 16px;
}

.results-list-item__description {
  font-size: 18px;
  margin-top: 16px;
}

.favourites-list-item__info-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #fdf6fb;
  border-color: #ee782f;
  margin-top: 0.5rem;
  outline: none;

  @media only screen and (max-width: 1000px) {
    margin-bottom: 2rem;
  }
}